Repository scikit-rf/scikit-rf, pull requests merged in 2021-07, with the labels that each got.

#488 Fix/299
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network, fix

#485 Add stdev function, organize file, allow read_all() to recursively check directories
  skrf/data/__init__.py
  skrf/io/general.py
  skrf/network.py
  skrf/networkSet.py
Labels: IO, Network

#490 Documentation Improvements
  README.md
  doc/source/examples/vectorfitting/vectorfitting_190ghz_active.ipynb
  doc/source/tutorials/Introduction.ipynb
  skrf/time.py
Labels: Documentation, Time

#489 Add functionality to plot group delay for multiple files simultaneously
  qtapps/skrf_qtwidgets/networkPlotWidget.py
Labels: qtapps

#491 Fix typos in docs/
  doc/source/examples/circuit/Lumped Element Circuits.ipynb
  doc/source/examples/circuit/Voltages and Currents in Circuits.ipynb
  doc/source/examples/circuit/Wilkinson Power Splitter.ipynb
  doc/source/examples/internals/Network2.ipynb
  doc/source/examples/matching/Impedance Matching.ipynb
  doc/source/examples/metrology/Calibration With Three Receivers.ipynb
  doc/source/examples/metrology/Measuring a Mutiport Device with a 2-Port Network Analyzer.ipynb
  doc/source/examples/metrology/Multiline TRL.ipynb
  doc/source/examples/metrology/One Port Tiered Calibration.ipynb
  doc/source/examples/metrology/TwoPortOnePath, EnhancedResponse, and FakeFlip.ipynb
  doc/source/examples/networksets/Interpolating Network Sets.ipynb
  doc/source/examples/networksets/Sorting Network Sets.ipynb
  doc/source/examples/networktheory/Balanced Network De-embedding.ipynb
  doc/source/examples/networktheory/Correlating microstripline model to measurement.ipynb
  doc/source/examples/networktheory/DefinedAEpTandZ0 media example.ipynb
  doc/source/examples/networktheory/LNA Example.ipynb
  doc/source/examples/networktheory/Properties of Rectangular Waveguides.ipynb
  doc/source/examples/networktheory/Rational Interpolation.ipynb
  doc/source/examples/networktheory/Time Domain.ipynb
  doc/source/examples/networktheory/Time domain reflectometry, measurement vs simulation.ipynb
  doc/source/examples/networktheory/Transmission Line Properties and Manipulations.ipynb
  doc/source/examples/networktheory/Transmission Lines and SWR.ipynb
  doc/source/examples/networktheory/Working with Complex Characteristic Impedances.ipynb
  doc/source/examples/vectorfitting/vectorfitting_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_Agilent_E5071B.ipynb
  doc/source/glossary.rst
  doc/source/tutorials/Calibration.ipynb
  doc/source/tutorials/Connecting_Networks.ipynb
  doc/source/tutorials/Introduction.ipynb
  doc/source/tutorials/Media.ipynb
  doc/source/tutorials/NetworkSet.ipynb
  doc/source/tutorials/Networks.ipynb
  doc/source/tutorials/Plotting.ipynb
  doc/source/tutorials/VectorFitting.ipynb
Labels: Documentation

#480 WIP: Implement a de-embedding class
  skrf/calibration/__init__.py
  skrf/calibration/deembedding.py
Labels: Calibration

#494 Update & Streamline requirements
  .github/workflows/testing.yml
  readthedocs.yml
  requirements.txt
  requirements_dev.txt
  setup.py
  skrf/network2.py
Labels: Continuous integration

#500 Transferring wiki doc to main documentation
  README.md
  doc/make.bat
  doc/source/citations_ack/index.rst
  doc/source/contributing/index.rst
  doc/source/index.rst
Labels: Documentation

#498 Vector Fitting: Passivity evaluation and enforcement
  TODO.rst
  doc/source/examples/vectorfitting/vectorfitting_ex1_ringslot.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex2_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex3_Agilent_E5071B.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex4_passivity.ipynb
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting

#501 Fixes ModuleNotFound error in docs
  readthedocs.yml
Labels: Continuous integration, Documentation

#502 Bugfix for issue #467 and extended testcase.
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network
