Repository scikit-rf/scikit-rf, pull requests merged in 2021-02, with the labels that each got.

#423 subnetwork
  doc/source/examples/metrology/Measuring a Mutiport Device with a 2-Port Network Analyzer.ipynb
  doc/source/examples/metrology/nports_with_2ports.svg
  skrf/network.py
  skrf/tests/test_network.py
Labels: Feature Request, New Feature

#427 Fix rf.io.Touchstone.get_comment_variables() parsing to handle units, decimals properly
  skrf/io/tests/comments.s3p
  skrf/io/tests/test_io.py
  skrf/io/touchstone.py
Labels: fix

#428 write_touchstone: write port names to file
  skrf/network.py
Labels: Improvements, New Feature
