Repository scikit-rf/scikit-rf, pull requests merged in 2021-12, with the labels that each got.

#576 Documentation fixes
  .gitignore
  doc/source/contributing/index.rst
  doc/source/examples/index.rst
  doc/source/tutorials/Calibration.ipynb
  doc/source/tutorials/Circuit.ipynb
  doc/source/tutorials/Deembedding.ipynb
  doc/source/tutorials/NetworkSet.ipynb
  doc/source/tutorials/VectorFitting.ipynb
  doc/source/tutorials/index.rst
  requirements.txt
  requirements_dev.txt
  skrf/calibration/calibration.py
  tox.ini
Labels: Documentation, Calibration

#577 Vector Fitting: Notation and other minor improvements
  doc/source/examples/vectorfitting/vectorfitting_ex1_ringslot.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex2_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex3_Agilent_E5071B.ipynb
  doc/source/tutorials/VectorFitting.ipynb
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting

#580 Change syntax of the images from Markdown to HTML in the de-embedding tutorial
  doc/source/tutorials/Deembedding.ipynb
Labels: Documentation

#581 Add citation to the IEEE journal article
  doc/source/citations_ack/index.rst
Labels: Documentation

#578 Separate the test of the notebooks from the test of the code
  .github/workflows/testing.yml
  .github/workflows/testing_notebooks.yml
  tox.ini
Labels: Continuous integration

#582 Fix citation formatting that was a run-on line
  doc/source/citations_ack/index.rst
Labels: Documentation

#583 DOI hyperlink and minor fixes in docs
  doc/source/citations_ack/index.rst
  doc/source/examples/vectorfitting/vectorfitting_ex2_190ghz_active.ipynb
  doc/source/tutorials/VectorFitting.ipynb
Labels: Documentation

#588 Correct error when asking db/ma from ri file
  skrf/io/tests/test_touchstone.py
  skrf/io/touchstone.py
Labels: IO

#589 Fix coefs_8term and coefs_12term
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Calibration
