Repository scikit-rf/scikit-rf, pull requests merged in 2021-04, with the labels that each got.

#441 add port name writing in write_touchstone (re-implementation of PR #428)
  skrf/network.py
Labels: Improvements

#442 Add option for renaming files in data_grabber
  qtapps/skrf_qtwidgets/networkListWidget.py
  qtapps/skrf_qtwidgets/widgets.py
Labels: Improvements

#445 [WIP] Refresh Github Welcome page and add auto labeler Action
  .github/workflows/PR_labeler.yml
  README.md
Labels: Community

#452 Correct image links in an example Notebook
  doc/source/examples/circuit/Lumped Element Circuits.ipynb
Labels: Documentation

#453 Fix image links in documentation
  doc/source/examples/circuit/Lumped Element Circuits.ipynb
  doc/source/examples/circuit/Voltages and Currents in Circuits.ipynb
  doc/source/examples/circuit/Wilkinson Power Splitter.ipynb
  doc/source/examples/matching/Impedance Matching.ipynb
  doc/source/examples/mixedmodeanalysis/Mixed Mode Basics.ipynb
  doc/source/examples/mixedmodeanalysis/Mixed Mode S and Impedance Transformation.ipynb
  doc/source/examples/networktheory/DC Extrapolation for Time Domain .ipynb
  doc/source/examples/networktheory/Properties of Rectangular Waveguides.ipynb
  doc/source/examples/networktheory/Transmission Line Properties and Manipulations.ipynb
  doc/source/examples/networktheory/Transmission Lines and SWR.ipynb
  doc/source/examples/networktheory/Working with Complex Characteristic Impedances.ipynb
Labels: Documentation

#450 Vector Fitting Improvements
  doc/source/examples/vectorfitting/vectorfitting_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ringslot.ipynb
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting

#454 Fix #447 - Avoid using the Agg backend if running under Binder
  skrf/plotting.py
Labels: Plotting, fix

#455 Z0 - new setter/getter
  skrf/network.py
  skrf/tests/test_network.py
Labels: Improvements, Network, fix

#448 Bug fix in delay function
  doc/source/examples/mixedmodeanalysis/Mixed Mode S and Impedance Transformation.ipynb
  doc/source/skrf_Network_symbols.svg
  doc/source/tutorials/Connecting_Networks.ipynb
  doc/source/tutorials/Networks.ipynb
  doc/source/tutorials/figures/networks_connecting_2_2Nports.svg
  doc/source/tutorials/figures/networks_connecting_2_2ports.svg
  doc/source/tutorials/figures/networks_connecting_2port_1port.svg
  doc/source/tutorials/figures/networks_connecting_3port_1port.svg
  doc/source/tutorials/figures/networks_connecting_3port_2port.svg
  doc/source/tutorials/figures/networks_connecting_N_2ports.svg
  doc/source/tutorials/figures/networks_connecting_N_2ports_1port.svg
  doc/source/tutorials/figures/networks_delay_short.svg
  doc/source/tutorials/index.rst
  skrf/network.py
  skrf/tests/test_circuit.py
  skrf/tests/test_network.py
Labels: Bug, Documentation, Network, fix

#457 Allow reading HFSS files from StringIO
  skrf/io/touchstone.py
  skrf/tests/test_network.py
Labels: IO, Improvements, fix
