Repository scikit-rf/scikit-rf, pull requests merged in 2021-11, with the labels that each got.

#548 Zipped touchstone fix
  skrf/io/general.py
  skrf/io/touchstone.py
  skrf/network.py
  skrf/networkSet.py
  skrf/tests/test_network.py
Labels: Network, IO

#552 Multiline TRL documentation improvements
  doc/source/examples/metrology/Multiline TRL.ipynb
  doc/source/examples/metrology/multiline_trl_data/DUT.s2p
  doc/source/examples/metrology/multiline_trl_data/gamma_f.s1p
  doc/source/examples/metrology/multiline_trl_data/gamma_r.s1p
  doc/source/examples/metrology/multiline_trl_data/line10mm.s2p
  doc/source/examples/metrology/multiline_trl_data/line2p3mm.s2p
  doc/source/examples/metrology/multiline_trl_data/linep3mm.s2p
  doc/source/examples/metrology/multiline_trl_data/reflect.s2p
  doc/source/examples/metrology/multiline_trl_data/res_50ohm.s2p
  doc/source/examples/metrology/multiline_trl_data/thru.s2p
  skrf/calibration/calibration.py
Labels: Documentation, Calibration

#555 LRRM, MTRL doc fixes
  doc/source/examples/metrology/LRRM.ipynb
  doc/source/examples/metrology/Multiline TRL.ipynb
  doc/source/examples/networktheory/Time domain reflectometry, measurement vs simulation.ipynb
Labels: Documentation

#556 Extend user info in docstring of Network.delay()
  skrf/network.py
Labels: Network

#550 Warn user if no Frequency set when cascading
  skrf/network.py
  skrf/tests/test_network.py
Labels: Improvements, Network

#557 Add thru-only de-embedding methods
  doc/source/tutorials/Deembedding.ipynb
  doc/source/tutorials/figures/calculate_h.svg
  doc/source/tutorials/figures/immittance_cancel.svg
  doc/source/tutorials/figures/split_methods.svg
  doc/source/tutorials/figures/thru_micrograph.png
  skrf/calibration/deembedding.py
  skrf/calibration/tests/deembed/deemb_ind3.s2p
  skrf/calibration/tests/deembed/deemb_ind4.s2p
  skrf/calibration/tests/deembed/deemb_ind5.s2p
  skrf/calibration/tests/deembed/deemb_ind6.s2p
  skrf/calibration/tests/deembed/deemb_thru3.s2p
  skrf/calibration/tests/deembed/deemb_thru4.s2p
  skrf/calibration/tests/deembed/deemb_thru5.s2p
  skrf/calibration/tests/deembed/deemb_thru6.s2p
  skrf/calibration/tests/test_deembedding.py
Labels: Documentation, New Feature, Calibration

#560 Pytest instead of nose
  .github/workflows/testing.yml
  .gitignore
  .travis.yml
  doc/source/contributing/index.rst
  nose.cfg
  pytest.ini
  requirements/base.pip
  requirements_dev.txt
  setup.py
  skrf/calibration/calibration.py
  skrf/calibration/deembedding.py
  skrf/calibration/tests/test_calibration.py
  skrf/frequency.py
  skrf/io/csv.py
  skrf/io/tests/test_csv.py
  skrf/io/tests/test_io.py
  skrf/media/tests/README.rst
  skrf/media/tests/test_all_construction.py
  skrf/network.py
  skrf/networkSet.py
  skrf/plotting.py
  skrf/tests/test_circuit.py
  skrf/tests/test_network.py
  skrf/tests/test_networkSet.py
  skrf/vectorFitting.py
  skrf/vi/tests/test_pna.py
  skrf/vi/tests/test_sa.py
  skrf/vi/tests/test_vectorstar.py
  tools/travis-requirements.txt
  tox.ini
Labels: Documentation, Network, VectorFitting, Plotting, IO, Continuous integration, Media, Calibration

#562 Minor fixes to the de-embedding API
  skrf/calibration/deembedding.py
Labels: Calibration

#561 Fix DefinedAEpTandZ0 example
  doc/source/examples/networktheory/DefinedAEpTandZ0 media example.ipynb
Labels: Documentation

#559 Vector Fitting: Speed improvements
  doc/source/api/vectorFitting.rst
  doc/source/examples/vectorfitting/vectorfitting_ex1_ringslot.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex2_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex3_Agilent_E5071B.ipynb
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting

#563 Warn users about future change of 'extrapolate_to_dc' default value from rational to cubic
  skrf/network.py
Labels: fix, Network

#564 Allow to calculate step/impulse response from multiports
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#558 version 0.20.0
  .github/workflows/testing.yml
  conda.recipe/meta.yaml
  skrf/__init__.py
Labels: Continuous integration

#567 Vector Fitting: Example notebooks and docstrings
  doc/source/citations_ack/index.rst
  doc/source/contributing/index.rst
  doc/source/examples/vectorfitting/vectorfitting_ex1_ringslot.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex2_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex3_Agilent_E5071B.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex4_passivity.ipynb
  requirements_dev.txt
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting

#571 Fix/dc extrapolation array
  skrf/calibration/calibration.py
  skrf/io/touchstone.py
  skrf/network.py
  skrf/plotting.py
  skrf/tests/test_network.py
Labels: Network, Plotting, IO, Calibration

#568 Try to fix coverall stats
  .github/workflows/testing.yml
  requirements_dev.txt
  tox.ini
Labels: Continuous integration

#575 Speed up X property of Circuit class
  skrf/circuit.py
Labels: Circuit
