Repository scikit-rf/scikit-rf, pull requests merged in 2021-06, with the labels that each got.

#474 Remove pandas dependency
  .gitignore
  skrf/network.py
Labels: Network, Regression, fix

#476 Use relative paths for import
  skrf/frequency.py
Labels: Improvements

#478 Fixes typo in SPICE .SUBCKT
  skrf/vectorFitting.py
Labels: VectorFitting

#479 v0.18.1
  conda.recipe/meta.yaml
  doc/source/conf.py
  skrf/__init__.py
Labels: Community, Documentation

#481 Modify widgets.py to accept .S*P files
  qtapps/skrf_qtwidgets/widgets.py
Labels: qtapps

#482 Add analyzer_keysight_n9918a.py for usage in data_grabber.py
  qtapps/skrf_qtwidgets/analyzers/analyzer_keysight_n9918a.py
Labels: Instruments, qtapps

#484 Fix a lot of typos
  doc/source/tutorials/Networks.ipynb
  qtapps/skrf_qtwidgets/networkListWidget.py
  qtapps/skrf_qtwidgets/networkPlotWidget.py
  qtapps/skrf_qtwidgets/util.py
  qtapps/skrf_qtwidgets/widgets.py
  setup.py
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
  skrf/circuit.py
  skrf/data/__init__.py
  skrf/frequency.py
  skrf/io/csv.py
  skrf/io/general.py
  skrf/io/tests/test_csv.py
  skrf/io/touchstone.py
  skrf/mathFunctions.py
  skrf/media/__init__.py
  skrf/media/circularWaveguide.py
  skrf/media/coaxial.py
  skrf/media/cpw.py
  skrf/media/definedAEpTandZ0.py
  skrf/media/distributedCircuit.py
  skrf/media/freespace.py
  skrf/media/media.py
  skrf/media/mline.py
  skrf/media/rectangularWaveguide.py
  skrf/media/tests/test_coaxial.py
  skrf/media/tests/test_cpw.py
  skrf/media/tests/test_media.py
  skrf/network.py
  skrf/network2.py
  skrf/networkSet.py
  skrf/notebook/bokeh_.py
  skrf/plotting.py
  skrf/taper.py
  skrf/tests/test_circuit.py
  skrf/tests/test_convenience.py
  skrf/tests/test_network.py
  skrf/tests/test_networkSet.py
  skrf/tests/test_tlineFunctions.py
  skrf/time.py
  skrf/tlineFunctions.py
  skrf/util.py
  skrf/vectorFitting.py
  skrf/vi/__init__.py
  skrf/vi/ivihack.py
  skrf/vi/vna/abcvna.py
  skrf/vi/vna/keysight_fieldfox.py
  skrf/vi/vna/keysight_pna.py
  skrf/vi/vna_old.py
Labels: Calibration, Circuit, Documentation, IO, Media, Network, Plotting, Time, TransmissionLines, VectorFitting, qtapps
