Repository scikit-rf/scikit-rf, pull requests merged in 2021-09, with the labels that each got.

#519 Fix/518
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#520 Clean up legacy code
  conda.recipe/meta.yaml
  requirements.txt
  requirements/base.pip
  setup.py
  skrf/__init__.py
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
  skrf/data/__init__.py
  skrf/io/general.py
  skrf/io/touchstone.py
  skrf/network.py
  skrf/network2.py
  skrf/tests/test_network.py
  tools/travis-requirements.txt
Labels: Network, IO, Calibration

#516 WIP: Docs, Tutorial and Tests for De-embedding Class
  doc/source/api/calibration/deembedding.rst
  doc/source/api/index.rst
  doc/source/tutorials/Deembedding.ipynb
  doc/source/tutorials/data/ind.s2p
  doc/source/tutorials/data/open.s2p
  doc/source/tutorials/data/short.s2p
  doc/source/tutorials/figures/ind_open.png
  doc/source/tutorials/figures/ind_parasitics.png
  doc/source/tutorials/figures/ind_short.png
  doc/source/tutorials/figures/onwafer_pads.png
  doc/source/tutorials/figures/openshort.png
  doc/source/tutorials/index.rst
  skrf/calibration/deembedding.py
  skrf/calibration/tests/deembed/deemb_ind.s2p
  skrf/calibration/tests/deembed/deemb_ind2.s2p
  skrf/calibration/tests/deembed/deemb_open.s2p
  skrf/calibration/tests/deembed/deemb_open2.s2p
  skrf/calibration/tests/deembed/deemb_short.s2p
  skrf/calibration/tests/deembed/deemb_short2.s2p
  skrf/calibration/tests/test_deembedding.py
Labels: Documentation, Calibration

#523 Warn if invalid frequency data is detected and method to fix the data
  skrf/frequency.py
  skrf/network.py
  skrf/tests/ntwk_noise.s2p
  skrf/tests/test_frequency.py
  skrf/tests/test_network.py
Labels: Improvements, fix, Network

#526 logging error is never thrown if passivity enforcement does not converge.
  skrf/vectorFitting.py
Labels: VectorFitting
