Repository scikit-rf/scikit-rf, pull requests merged in 2021-08, with the labels that each got.

#505 Vector Fitting: Docstring improvements, type hints and bugfix
  skrf/vectorFitting.py
Labels: VectorFitting

#508 Adding Python 3.9 to CI
  .github/workflows/testing.yml
Labels: Continuous integration

#507 Docstring fixes after PR #504
  readthedocs.yml
  requirements_dev.txt
  skrf/circuit.py
  skrf/mathFunctions.py
Labels: Circuit, fix

#510 Single Ended to Mixed Mode conversion with reference impedance different from 50 Ohms
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#511 Example for tapered transmission line
  doc/source/examples/index.rst
  doc/source/examples/taper/ANSYS_Circuit_reference.png
  doc/source/examples/taper/ANSYS_Circuit_taper_exponential_s_mag.csv
  doc/source/examples/taper/ANSYS_Circuit_taper_linear_s_mag.csv
  doc/source/examples/taper/tapered_transmission_lines.ipynb
  skrf/taper.py
Labels: Documentation
