Repository scikit-rf/scikit-rf, pull requests merged in 2021-05, with the labels that each got.

#458 Switch nbsmoke to nbval for notebook testing
  .github/workflows/testing.yml
Labels: Continuous integration

#459 Add tests for NetworkSet, fix NetworkSet.from_zip and other things
  .github/workflows/testing.yml
  .travis.yml
  conda.recipe/meta.yaml
  conftest.py
  requirements.txt
  skrf/io/general.py
  skrf/networkSet.py
  skrf/tests/ntwk_pickle.zip
  skrf/tests/ntwks.zip
  skrf/tests/ntwks/ntwk1.s2p
  skrf/tests/ntwks/ntwk2.s2p
  skrf/tests/ntwks/ntwk3.s2p
  skrf/tests/test_networkSet.py
Labels: Continuous integration, IO, NetworkSet, Regression, fix

#460 VectorFitting: Bugfix, new testcases and improved documentation
  requirements.txt
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: Documentation, Improvements, VectorFitting, fix

#463 Fix docs
  doc/Makefile
Labels: Documentation

#464 fixing RTD doc building
  readthedocs.yml
Labels: Documentation, fix

#465 Fix math typesetting in network.chopinhalf
  skrf/network.py
Labels: Documentation, Network

#469 Vector fitting: Bugfixes, example notebooks, testcases
  doc/source/examples/vectorfitting/Agilent_E5071B.s4p
  doc/source/examples/vectorfitting/vectorfitting_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_Agilent_E5071B.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ringslot.ipynb
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting, fix

#472 Fix port numbering, start with Port[1]
  skrf/network.py
Labels: Network, fix

#473 Vector Fitting: Fixing RTD build timeout
  doc/source/examples/vectorfitting/vectorfitting_Agilent_E5071B.ipynb
Labels: Documentation

#451 Ready : Start to add type hints in network.py
  skrf/calibration/calibration.py
  skrf/constants.py
  skrf/frequency.py
  skrf/media/media.py
  skrf/network.py
  skrf/networkSet.py
  skrf/util.py
Labels: Calibration, Improvements, Media, Network
