Repository scikit-rf/scikit-rf, pull requests merged in 2022-05, with the labels that each got.

#649 More accurate Coaxial resistance model
  skrf/media/coaxial.py
  skrf/media/tests/test_coaxial.py
Labels: Media

#658 Avoid division by zero at 0 Hz in DistributedCircuit
  skrf/media/distributedCircuit.py
Labels: Media

#657 Add support for initializing network with different parameters
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#664 Z0 getter fix
  doc/source/examples/metrology/Measuring a Mutiport Device with a 2-Port Network Analyzer.ipynb
  skrf/network.py
  skrf/tests/test_network.py
Labels: Documentation, Improvements, fix, Network

#661 Improve s2z, z2s, s2y and y2s accuracy
  skrf/mathFunctions.py
  skrf/network.py
  skrf/tests/test_mathFunctions.py
  skrf/tests/test_network.py
Labels: Improvements, fix, Network

#650 Refactor MLine Media to follow qucs implementation
  doc/source/examples/networktheory/Correlating microstripline model to measurement.ipynb
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  doc/source/examples/networktheory/Time domain reflectometry, measurement vs simulation.ipynb
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_SE_NZC_fdf.s2p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_SE_NZC_se_fdf.s2p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_SE_ZC_fdf.s2p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_SE_ZC_se_fdf.s2p
  doc/source/examples/networktheory/ieeep370deembedding/se_2xthru.s2p
  doc/source/examples/networktheory/ieeep370deembedding/se_fdf.s2p
  doc/source/examples/networktheory/tdr_measurement_vs_simulation/simulation/P1-MSL_Stepped_140-P2.s2p
  doc/source/examples/networktheory/tdr_measurement_vs_simulation/simulation/P1-MSL_Thru_100-P2.s2p
  skrf/media/mline.py
  skrf/media/tests/ads/mlin,djordjevicsvensson,kirschning.s2p
  skrf/media/tests/ads/mlin,djordjevicsvensson,kobayashi.s2p
  skrf/media/tests/ads/mlin,djordjevicsvensson,yamashita.s2p
  skrf/media/tests/ads/mlin,freqencyinvariant,kirschning.s2p
  skrf/media/tests/ads/mlin,freqencyinvariant,kobayashi.s2p
  skrf/media/tests/ads/mlin,freqencyinvariant,yamashita.s2p
  skrf/media/tests/ads/schematic.png
  skrf/media/tests/qucs_prj/mline,hammerstad,hammerstad.s2p
  skrf/media/tests/qucs_prj/mline,hammerstad,kirschning.s2p
  skrf/media/tests/qucs_prj/mline,hammerstad,kobayashi.s2p
  skrf/media/tests/qucs_prj/mline,hammerstad,yamashita.s2p
  skrf/media/tests/qucs_prj/mline,schneider,schneider.s2p
  skrf/media/tests/qucs_prj/mline,wheeler,schneider.s2p
  skrf/media/tests/qucs_prj/mline.dat
  skrf/media/tests/qucs_prj/mline.dpl
  skrf/media/tests/qucs_prj/mline.sch
  skrf/media/tests/test_mline.py
Labels: Documentation, Media

#669 Fixed NanoVNA backend configuration for PyVISA-py
  skrf/vi/vna/nanovna_v2.py
Labels: Instruments, NanoVNA

#665 cpw warns if t < 3 * skin_depth
  skrf/media/cpw.py
  skrf/media/tests/qucs_prj/cpw,t=0,h=100mm,w=3mm,s=0.3mm,l=25mm,backside=air.s2p
  skrf/media/tests/qucs_prj/cpw,w=1.6mm,s=0.3mm,l=25mm,backside=metal.s2p
  skrf/media/tests/qucs_prj/cpw,w=3mm,s=0.3mm,l=25mm,backside=air.s2p
  skrf/media/tests/qucs_prj/cpw2.dat
  skrf/media/tests/qucs_prj/cpw2.dpl
  skrf/media/tests/qucs_prj/cpw2.sch
  skrf/media/tests/test_cpw.py
Labels: Media

#671 Mark Circuit Ports with attribute instead of name
  doc/source/tutorials/Circuit.ipynb
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Documentation, fix, Circuit

#672 Fix write_touchstone with complex or non-equal z0
  skrf/io/touchstone.py
  skrf/network.py
  skrf/tests/test_convenience.py
  skrf/tests/test_network.py
Labels: Improvements, Network, IO, Touchstone

#674 Fix compatibility with python 3.10
  qtapps/skrf_qtwidgets/util.py
  skrf/vi/vna/keysight_fieldfox.py
  skrf/vi/vna/keysight_pna.py
  skrf/vi/vna/rs_zva.py
Labels: Improvements, fix, qtapps

#655 Consistent Network handling with different s_def
  doc/source/examples/interactive/Interact Transmission Lines.ipynb
  skrf/circuit.py
  skrf/media/media.py
  skrf/media/tests/test_media.py
  skrf/network.py
  skrf/src/__init__.py
  skrf/src/connect.c
  skrf/tests/test_circuit.py
  skrf/tests/test_network.py
Labels: Documentation, Network, Media, Circuit
