Repository scikit-rf/scikit-rf, pull requests merged in 2022-10, with the labels that each got.

#761 Improve efficiency of network_2_dataframe
  skrf/io/general.py
Labels: Improvements, IO

#760 Make vector fitting Spice output compatible to LTSpice
  skrf/vectorFitting.py
Labels: Improvements, VectorFitting

#765 Fix for #762
  skrf/plotting.py
Labels: fix, Plotting

#767 Fixing typo and reference in Qfactor example
  doc/source/citations_ack/index.rst
  doc/source/examples/qfactor/Finding_Dk_Df_from_resonance_fitting.ipynb
Labels: Documentation

#747 Added >> operator override, for 4-port network cascading.
  skrf/network.py
  skrf/tests/test_network.py
Labels: s-parameters, New Feature, Network

#768 Vector Fitting: bugfix for data including dc samples
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: VectorFitting

#752 Move requirements specification to PEP 0621
  .github/workflows/testing.yml
  .gitignore
  .readthedocs.yml
  MANIFEST.in
  conda.recipe/meta.yaml
  conftest.py
  doc/source/.gitignore
  ez_setup.py
  pyproject.toml
  readthedocs.yml
  requirements.txt
  requirements/base.pip
  requirements/docs.pip
  requirements/rtd.pip
  requirements/vi.pip
  requirements_dev.txt
  setup.py
  skrf/tests/test_networkSet.py
  tox.ini
Labels: Continuous integration

#772 Create codeql.yml
  .github/workflows/codeql.yml
Labels: Continuous integration

#771 Treat all warnings in tests as errors
  pyproject.toml
  skrf/calibration/tests/test_calibration.py
  skrf/calibration/tests/test_deembedding.py
  skrf/io/general.py
  skrf/io/touchstone.py
  skrf/media/coaxial.py
  skrf/media/cpw.py
  skrf/media/media.py
  skrf/media/mline.py
  skrf/media/tests/test_coaxial.py
  skrf/media/tests/test_cpw.py
  skrf/media/tests/test_mline.py
  skrf/network.py
  skrf/network2.py
  skrf/qfactor.py
  skrf/tests/test_frequency.py
  skrf/tests/test_mathFunctions.py
  skrf/tests/test_network.py
  skrf/tests/test_network2.py
  skrf/tests/test_vectorfitting.py
  skrf/util.py
  skrf/vi/sa.py
  skrf/vi/stages.py
  skrf/vi/vna_old.py
  tox.ini
Labels: Network, IO, Media, Calibration

#775 Try to fix rtd build
  .readthedocs.yml
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: Documentation

#781 IEEEP370 Deembedding add differences compared to matlab in docstring
  skrf/calibration/deembedding.py
Labels: Calibration

#779 SOLT.ipynb: distinguish offset and port impedances, close #754.
  doc/source/examples/metrology/SOLT Calibration Standards Creation.ipynb
Labels: Documentation, Calibration

#769 v0.24.0
  conda.recipe/meta.yaml
  doc/source/citations_ack/index.rst
  pyproject.toml
  skrf/__init__.py
Labels: Documentation
