Repository scikit-rf/scikit-rf, pull requests merged in 2022-04, with the labels that each got.

#621 Bug Fix for Parser.py yaml.load deprecated
  skrf/vi/scpi/parser.py
Labels: Instruments, fix

#624 Fixing SOLT description and add a SOLT calibration example
  doc/source/citations_ack/index.rst
  doc/source/examples/metrology/2_1port_to_1_2port.svg
  doc/source/examples/metrology/SOLT.ipynb
  doc/source/examples/metrology/VNA_2_1port.svg
  doc/source/examples/metrology/line1_dut_line2.svg
  doc/source/tutorials/Calibration.ipynb
Labels: Documentation, fix, Calibration

#625 Fix numerical issue in TwoPortOnePath
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Calibration

#630 SOLT.ipynb example: suggests using nports=2.
  doc/source/examples/metrology/SOLT.ipynb
Labels: Documentation

#632 Fix gmm2se phase inversion
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#628 Implement IEEEP370 NZC and ZC deembedding methods
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  doc/source/examples/networktheory/ieeep370deembedding/AICC_Deembedding.png
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_MM_NZC_diff_fdf.s4p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_MM_ZC_diff_fdf.s4p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_SE_NZC_fdf.s2p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_SE_ZC_fdf.s2p
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru.dat
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru.dpl
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru.s4p
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru.sch
  doc/source/examples/networktheory/ieeep370deembedding/diff_dut.dat
  doc/source/examples/networktheory/ieeep370deembedding/diff_dut.dpl
  doc/source/examples/networktheory/ieeep370deembedding/diff_dut.s4p
  doc/source/examples/networktheory/ieeep370deembedding/diff_dut.sch
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.dat
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.dpl
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.png
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.s4p
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.sch
  skrf/calibration/deembedding.py
  skrf/calibration/tests/deembed/deembedded_SE_NZC_fdf.s2p
  skrf/calibration/tests/deembed/deembedded_SE_ZC_fdf.s2p
  skrf/calibration/tests/deembed/fdf.s2p
  skrf/calibration/tests/deembed/s2xthru.s2p
  skrf/calibration/tests/test_deembedding.py
Labels: Documentation, Calibration

#633 editorial changes to notebook only
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
Labels: Documentation

#616 Virtual Instruments: Adding NanoVNA V2
  doc/source/examples/metrology/NanoVNA_V2_4port-splitter.ipynb
  doc/source/examples/metrology/data_MiniCircuits_splitter/MiniCircuits_ZX10Q-2-19-S+___Plus25degC.s4p
  doc/source/examples/metrology/data_MiniCircuits_splitter/cal_match_raw.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/cal_open_raw.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/cal_short_raw.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/cal_thru_raw.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_12.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_13.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_14.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_21.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_23.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_24.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_31.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_32.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_34.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_41.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_42.s2p
  doc/source/examples/metrology/data_MiniCircuits_splitter/dut_raw_43.s2p
  skrf/vi/vna/__init__.py
  skrf/vi/vna/nanovna_v2.py
Labels: Instruments, Documentation, New Feature

#635 se2gmm z0 broadcasting, docstring and tests
  skrf/network.py
  skrf/tests/test_network.py
Labels: fix, New Feature, Network

#638 Keep port_names when using subnetwork
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#639 Reduce various warnings in unit tests
  doc/source/tutorials/Networks.ipynb
  skrf/network.py
  skrf/tests/test_network.py
Labels: Documentation, Network

#641 fix #640 and add tests for non-uniform frequency array
  skrf/calibration/deembedding.py
  skrf/calibration/tests/test_deembedding.py
Labels: fix, Calibration
