Repository scikit-rf/scikit-rf, pull requests merged in 2022-11, with the labels that each got.

#785 matplotlib as optional dependency
  skrf/calibration/deembedding.py
  skrf/plotting.py
  skrf/tests/test_network.py
  skrf/tests/test_vectorfitting.py
  skrf/util.py
  skrf/vectorFitting.py
  tox.ini
Labels: VectorFitting, Plotting, Calibration

#770 Time Gate: Selectable gating methods
  skrf/time.py
Labels: Time

#793 Update the checkout and setup-python GA versions
  .github/workflows/testing.yml
  .github/workflows/testing_notebooks.yml
Labels: Continuous integration

#792 Warn users about future change of the default frequency unit
  skrf/calibration/tests/test_calibration.py
  skrf/calibration/tests/test_calibrationSet.py
  skrf/frequency.py
  skrf/io/citi.py
  skrf/io/tests/test_io.py
  skrf/media/tests/test_coaxial.py
  skrf/media/tests/test_media.py
  skrf/network.py
  skrf/tests/test_circuit.py
  skrf/tests/test_frequency.py
  skrf/tests/test_network.py
  skrf/tests/test_networkSet.py
Labels: Community, Network, IO, Media, Calibration

#790 Make qtapps runable again
  README.md
  pyproject.toml
  qtapps/skrf_qtapps_py35.yml
  qtapps/widget_test.py
  skrf_qtapps/README
  skrf_qtapps/data_grabber.py
  skrf_qtapps/multiline_trl.py
  skrf_qtapps/nist_trl.py
  skrf_qtapps/skrf_qtwidgets/__init__.py
  skrf_qtapps/skrf_qtwidgets/analyzers/__init__.py
  skrf_qtapps/skrf_qtwidgets/analyzers/analyzer_agilent_e8363C.py
  skrf_qtapps/skrf_qtwidgets/analyzers/analyzer_agilent_n5247a.py
  skrf_qtapps/skrf_qtwidgets/analyzers/analyzer_keysight_n9918a.py
  skrf_qtapps/skrf_qtwidgets/analyzers/analyzer_rs_zva.py
  skrf_qtapps/skrf_qtwidgets/analyzers/base_analyzer.py
  skrf_qtapps/skrf_qtwidgets/analyzers/driver development/Agilent N5247A.ipynb
  skrf_qtapps/skrf_qtwidgets/analyzers/driver development/Keysight PNA.ipynb
  skrf_qtapps/skrf_qtwidgets/analyzers/driver development/__init__.py
  skrf_qtapps/skrf_qtwidgets/analyzers/driver development/analyzer_dummy.py
  skrf_qtapps/skrf_qtwidgets/calibration_widgets.py
  skrf_qtapps/skrf_qtwidgets/cfg.py
  skrf_qtapps/skrf_qtwidgets/example_data/horn antenna.s1p
  skrf_qtapps/skrf_qtwidgets/example_data/ring slot array measured.s1p
  skrf_qtapps/skrf_qtwidgets/example_data/ring slot array simulation.s2p
  skrf_qtapps/skrf_qtwidgets/images/powered_by_scikit-rf.png
  skrf_qtapps/skrf_qtwidgets/images/powered_by_scikit-rf.svg
  skrf_qtapps/skrf_qtwidgets/images/scikit-rf-logo.ico
  skrf_qtapps/skrf_qtwidgets/images/scikit-rf-logo.png
  skrf_qtapps/skrf_qtwidgets/images/scikit-rf-logo.svg
  skrf_qtapps/skrf_qtwidgets/networkListWidget.py
  skrf_qtapps/skrf_qtwidgets/networkPlotWidget.py
  skrf_qtapps/skrf_qtwidgets/numeric_inputs.py
  skrf_qtapps/skrf_qtwidgets/qt.py
  skrf_qtapps/skrf_qtwidgets/smith_chart.py
  skrf_qtapps/skrf_qtwidgets/util.py
  skrf_qtapps/skrf_qtwidgets/widgets.py
  skrf_qtapps/windows_shortcuts.py
Labels: qtapps

#798 Add warnings in the Circuit tutorial
  doc/source/tutorials/Circuit.ipynb
  pyproject.toml
Labels: Documentation

#799 Time ns warning
  doc/source/examples/networktheory/Time Domain.ipynb
  skrf/tests/test_network.py
  skrf/time.py
Labels: Documentation, Time

#800 v0.24.1
  conda.recipe/bld.bat
  conda.recipe/build.sh
  conda.recipe/meta.yaml
  conda.recipe/release_commands.txt
  doc/source/citations_ack/index.rst
  pyproject.toml
  skrf/__init__.py
Labels: Documentation

#801 Remove unneeded print
  skrf/time.py
Labels: Time

#802 Use fft_window when specified and not window
  skrf/time.py
Labels: Time
