Repository scikit-rf/scikit-rf, pull requests merged in 2022-01, with the labels that each got.

#591 Bugfixes
  skrf/vi/vna/__init__.py
  skrf/vi/vna/abcvna.py
  skrf/vi/vna/hp8510c.py
Labels: Instruments, fix, New Feature

#587 fix reading ISO-8859-1 encoded Touchstone file and add encoding param to Network() and Touchstone()
  skrf/io/tests/test_encoding_ISO-8859-1.s2p
  skrf/io/tests/test_encoding_UTF-8-SIG.s2p
  skrf/io/tests/test_encoding_unknown.s2p
  skrf/io/tests/test_touchstone.py
  skrf/io/touchstone.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: fix, Network, IO, Touchstone

#599 Doc corrections & example snippets
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting

#598 Don't initialize z0 from str
  skrf/io/touchstone.py
Labels: IO

#595 Interpolation improvements
  doc/source/examples/networktheory/DC Extrapolation for Time Domain .ipynb
  doc/source/examples/networktheory/Rational Interpolation.ipynb
  skrf/mathFunctions.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Documentation, Network

#601 MTRL fixes
  skrf/calibration/calibration.py
Labels: fix, Calibration

#602 Don't modify apply_cal input network
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Calibration

#603 Remove confusing transposes
  skrf/calibration/calibration.py
Labels: Calibration

#585 multi-parameters NetworkSet
  doc/source/tutorials/NetworkSet.ipynb
  skrf/calibration/calibration.py
  skrf/io/__init__.py
  skrf/io/citi.py
  skrf/io/mdif.py
  skrf/io/tests/MDIF_CITI_MDL/test_1p_citi.cti
  skrf/io/tests/MDIF_CITI_MDL/test_1p_citi_2_ri.cti
  skrf/io/tests/MDIF_CITI_MDL/test_1p_gmdif.mdf
  skrf/io/tests/MDIF_CITI_MDL/test_1p_gmdif_2.mdf
  skrf/io/tests/MDIF_CITI_MDL/test_1port.png
  skrf/io/tests/MDIF_CITI_MDL/test_2p_citi.cti
  skrf/io/tests/MDIF_CITI_MDL/test_2p_citi_2.cti
  skrf/io/tests/MDIF_CITI_MDL/test_2p_citi_2params.cti
  skrf/io/tests/MDIF_CITI_MDL/test_2p_citi_2params_db.cti
  skrf/io/tests/MDIF_CITI_MDL/test_2p_gmdif.mdf
  skrf/io/tests/MDIF_CITI_MDL/test_2p_gmdif_2.mdf
  skrf/io/tests/MDIF_CITI_MDL/test_2p_gmdif_3.mdf
  skrf/io/tests/MDIF_CITI_MDL/test_2p_gmdif_yz.mdf
  skrf/io/tests/MDIF_CITI_MDL/test_2p_gmdif_z.mdf
  skrf/io/tests/MDIF_CITI_MDL/test_2port.png
  skrf/io/tests/MDIF_CITI_MDL/test_4p_citi.cti
  skrf/io/tests/MDIF_CITI_MDL/test_4p_gmdif.mdf
  skrf/io/tests/MDIF_CITI_MDL/test_4port.png
  skrf/io/tests/test_citi.py
  skrf/io/tests/test_mdif.py
  skrf/network.py
  skrf/networkSet.py
  skrf/tests/test_networkSet.py
  skrf/tests/test_vectorfitting.py
Labels: Documentation, Improvements, New Feature, Network, IO, NetworkSet, Calibration
