Repository scikit-rf/scikit-rf, pull requests merged in 2022-06, with the labels that each got.

#682 LRRM fix for unsymmetric thru, non-iterative lc fit
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: fix, Calibration

#663 New example: Defining SOLT calibration standards.
  doc/source/examples/metrology/SOLT Calibration Standards Creation.ipynb
  doc/source/examples/metrology/calkit-schematic.svg
Labels: Documentation

#686 Fix SOLT cal kit example HTML rendering
  doc/source/examples/metrology/SOLT Calibration Standards Creation.ipynb
Labels: Documentation

#673 VectorFitting: Some convenience updates
  doc/source/tutorials/VectorFitting.ipynb
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting

#689 Adding the IEEEP370 deembedding methods to the docstring
  skrf/calibration/deembedding.py
Labels: fix, Calibration

#676 Refactor CPW media to fix #667
  doc/source/examples/networktheory/CPW media example.ipynb
  doc/source/examples/networktheory/coplanar_waveguide_structure.svg
  skrf/media/cpw.py
  skrf/media/tests/ads/cpw,t=0um.s2p
  skrf/media/tests/ads/cpw,t=35um.s2p
  skrf/media/tests/ads/cpw.png
  skrf/media/tests/ads/cpwg,t=0um.s2p
  skrf/media/tests/ads/cpwg,t=35um.s2p
  skrf/media/tests/ads/mlin.png
  skrf/media/tests/qucs_prj/cpw,t=0,w=1.6mm,s=0.3mm,l=25mm,backside=metal.s2p
  skrf/media/tests/qucs_prj/cpw,t=0,w=3mm,s=0.3mm,l=25mm,backside=air.s2p
  skrf/media/tests/qucs_prj/cpw,t=35um,w=1.6mm,s=0.3mm,l=25mm,backside=metal.s2p
  skrf/media/tests/qucs_prj/cpw,t=35um,w=3mm,s=0.3mm,l=25mm,backside=air.s2p
  skrf/media/tests/qucs_prj/cpw2.sch
  skrf/media/tests/test_cpw.py
Labels: Documentation, Media

#687 fix #684 phase jumps in 2xthru deembedding
  skrf/calibration/deembedding.py
  skrf/calibration/tests/deembed/deembedded_SE_NZC_fdf.s2p
  skrf/calibration/tests/deembed/deembedded_SE_ZC_fdf.s2p
  skrf/calibration/tests/test_deembedding.py
Labels: fix, Calibration

#690 SOLT cal kit example: more formatting and typo fixes
  doc/source/examples/metrology/SOLT Calibration Standards Creation.ipynb
Labels: Documentation

#695 Remove comparison to CPW model from MTRL example
  doc/source/examples/metrology/Multiline TRL.ipynb
Labels: Documentation

#694 Minor changes in IEEE P370 doc
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  doc/source/examples/networktheory/fix-dut-fix.svg
  doc/source/examples/networktheory/fix-fix.svg
Labels: Documentation

#637 Q-factor(s) fitting
  doc/source/api/index.rst
  doc/source/api/qfactor.rst
  doc/source/conf.py
  doc/source/examples/index.rst
  doc/source/examples/qfactor/Finding_Dk_Df_from_resonance_fitting.ipynb
  doc/source/examples/qfactor/data/resonator_144mm.s2p
  doc/source/examples/qfactor/data/resonator_36mm.s2p
  doc/source/examples/qfactor/data/resonator_72mm.s2p
  doc/source/tutorials/Q-Factor.ipynb
  doc/source/tutorials/figures/Parallel_RLC_resonator.svg
  doc/source/tutorials/index.rst
  skrf/__init__.py
  skrf/plotting.py
  skrf/qfactor.py
  skrf/tests/qfactor_data/Figure23.txt
  skrf/tests/qfactor_data/Figure27.txt
  skrf/tests/qfactor_data/Figure6b.txt
  skrf/tests/qfactor_data/Notes_and_Licence.txt
  skrf/tests/qfactor_data/Table6c27.txt
  skrf/tests/test_qfactor.py
Labels: Documentation, New Feature, Plotting

#678 Vector Fitting: Bug fix for #677 and #702
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: VectorFitting

#698 IEEEP370 Flip FIX-2 and minor improvements
  doc/source/examples/networktheory/CPW media example.ipynb
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  skrf/calibration/deembedding.py
  skrf/calibration/tests/test_deembedding.py
Labels: Documentation, Calibration

#705 drop_non_monotonic_increasing fix for 2D z0 shape
  skrf/network.py
Labels: Network

#706 Vector Fitting: Minor updates
  doc/source/examples/vectorfitting/vectorfitting_ex1_ringslot.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex3_Agilent_E5071B.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex4_passivity.ipynb
  skrf/vectorFitting.py
Labels: Documentation, VectorFitting

#700 Fixing unhandled corner case in Frequency
  doc/source/examples/metrology/Measuring a Mutiport Device with a 2-Port Network Analyzer.ipynb
  doc/source/examples/metrology/TRL.ipynb
  doc/source/examples/networksets/Sorting Network Sets.ipynb
  doc/source/tutorials/Media.ipynb
  doc/source/tutorials/Networks.ipynb
  skrf/frequency.py
  skrf/media/tests/test_media.py
  skrf/network.py
  skrf/network2.py
  skrf/tests/test_frequency.py
  skrf/tests/test_network.py
Labels: Documentation, fix, Network, Media

#680 Add NetworkSet.write_mdif() method to export NetworkSet to a generalized MDIF file
  doc/source/examples/networksets/Export Network Set as MDIF File.ipynb
  doc/source/examples/networksets/import_mdif_to_awr_mwo.png
  skrf/io/mdif.py
  skrf/io/tests/MDIF_CITI_MDL/test_comment_after_BEGIN.mdf
  skrf/io/tests/test_mdif.py
  skrf/networkSet.py
  skrf/tests/test_networkSet.py
Labels: Documentation, Improvements, IO, NetworkSet

#675 HP8510C Sweep Plan
  skrf/vi/vna/hp8510c.py
  skrf/vi/vna/hp8510c_sweep_plan.py
  skrf/vi/vna/keysight_fieldfox.py
  skrf/vi/vna/keysight_pna.py
  skrf/vi/vna/rs_zva.py
Labels: Instruments, New Feature

#715 warns of future deprecation of media line parameter embed
  skrf/media/media.py
Labels: Media

#707 Add higher number of ports examples to se2gmm
  skrf/network.py
Labels: Network

#713 Convert All Documentation Links to Relative Path Links
  doc/source/contributing/index.rst
  doc/source/examples/metrology/One Port Tiered Calibration.ipynb
  doc/source/examples/metrology/SOLT Calibration Standards Creation.ipynb
  doc/source/examples/metrology/TwoPortOnePath, EnhancedResponse, and FakeFlip.ipynb
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  doc/source/examples/networktheory/Time Domain.ipynb
  doc/source/examples/networktheory/Transmission Line Properties and Manipulations.ipynb
  doc/source/tutorials/NetworkSet.ipynb
Labels: Documentation

#708 Add forced_z11x to IEEEP370_SE_NZC_2xThru and correct typo
  skrf/calibration/deembedding.py
Labels: Calibration

#712 Three Receivers Calibration: Add Reference to NanoVNA
  doc/source/examples/metrology/Calibration With Three Receivers.ipynb
  doc/source/examples/metrology/NanoVNA_V2_4port-splitter.ipynb
Labels: Documentation

#711 Three Receivers Calibration: clarify SOLT procedures and source port.
  doc/source/examples/metrology/Calibration With Three Receivers.ipynb
Labels: Documentation

#710 Explain Isolation Calibration in SOLT calibration tutorial and example
  doc/source/examples/metrology/SOLT.ipynb
  doc/source/tutorials/Calibration.ipynb
Labels: Documentation

#714 Putting back temporarely .f and .npoints setter for warning users
  skrf/frequency.py
  skrf/network.py
  skrf/tests/test_frequency.py
Labels: Community, Network

#709 Documentation updates
  doc/source/examples/qfactor/Finding_Dk_Df_from_resonance_fitting.ipynb
  doc/source/tutorials/Networks.ipynb
  doc/source/tutorials/figures/array_s.svg
  doc/source/tutorials/figures/arrays_s_vs_f.svg
  logo/scikit-rf-logo-flat-docs.png
  logo/scikit-rf-logo-flat.png
  logo/scikit-rf-title-flat.png
Labels: Documentation

#723 fix 722
  skrf/network.py
Labels: Network

#720 Simplify z0 handing
  doc/source/tutorials/Networks.ipynb
  skrf/media/media.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Documentation, Network, Media
