Repository scikit-rf/scikit-rf, pull requests merged in 2023-11, with the labels that each got.

#970 Remove `html_theme_path` setting from docs config to fix search & other JavaScript functions
  doc/source/conf.py
Labels: Documentation

#971 Fix de-embedding when 2 networks are provided
  skrf/network.py
  skrf/tests/test_network.py
Labels: Bug, fix, Network

#979 Define circuit name at initialization
  skrf/circuit.py
Labels: Improvements, New Feature, Circuit
