Repository scikit-rf/scikit-rf, pull requests merged in 2023-07, with the labels that each got.

#930 Update Calibration.ipynb
  doc/source/tutorials/Calibration.ipynb
Labels: Documentation, fix

#929 Add TUG multiline TRL and a method to compute switch terms indirectly
  doc/source/examples/metrology/Multiline TRL.ipynb
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Documentation, Calibration

#744 Start new VNA implementation
  doc/source/_static/scikit-rf-logo-flat-docs.svg
  doc/source/_static/scikit-rf-title-flat.pdf
  doc/source/_static/scikit-rf-title-flat.svg
  doc/source/_static/scipy.css
  doc/source/api/index.rst
  doc/source/api/vi/vna.rst
  doc/source/conf.py
  doc/source/examples/instrumentcontrol/VNA Control.ipynb
  doc/source/tutorials/Installation.ipynb
  doc/source/tutorials/Introduction.ipynb
  doc/source/tutorials/Q-Factor.ipynb
  doc/source/tutorials/VirtualInstruments.ipynb
  pyproject.toml
  skrf/tests/test_hp8510.py
  skrf/vi/__init__.py
  skrf/vi/ivihack.py
  skrf/vi/sa.py
  skrf/vi/scpi/__init__.py
  skrf/vi/scpi/parser.py
  skrf/vi/scpi_errors.py
  skrf/vi/stages.py
  skrf/vi/tests/test_pna.py
  skrf/vi/tests/test_sa.py
  skrf/vi/tests/test_validators.py
  skrf/vi/tests/test_vectorstar.py
  skrf/vi/tests/test_vna.py
  skrf/vi/validators.py
  skrf/vi/vna/__init__.py
  skrf/vi/vna/abcvna.py
  skrf/vi/vna/hp/__init__.py
  skrf/vi/vna/hp/hp8510c.py
  skrf/vi/vna/hp/tests/test_8510c.py
  skrf/vi/vna/hp8510c.py
  skrf/vi/vna/keysight/__init__.py
  skrf/vi/vna/keysight/fieldfox.py
  skrf/vi/vna/keysight/pna.py
  skrf/vi/vna/keysight/tests/test_fieldfox.py
  skrf/vi/vna/keysight/tests/test_pna.py
  skrf/vi/vna/keysight_fieldfox.py
  skrf/vi/vna/keysight_fieldfox_scpi.py
  skrf/vi/vna/keysight_fieldfox_scpi.yaml
  skrf/vi/vna/keysight_pna.py
  skrf/vi/vna/keysight_pna_scpi.py
  skrf/vi/vna/keysight_pna_scpi.yaml
  skrf/vi/vna/nanovna/__init__.py
  skrf/vi/vna/nanovna/nanovna.py
  skrf/vi/vna/parse_scpi.py
  skrf/vi/vna/rs_zva.py
  skrf/vi/vna/rs_zva_scpi.py
  skrf/vi/vna/rs_zva_scpi.yaml
  skrf/vi/vna/vna.py
  skrf/vi/vna_old.py
  skrf_qtapps/skrf_qtwidgets/analyzers/analyzer_keysight_n9918a.py
  skrf_qtapps/skrf_qtwidgets/analyzers/base_analyzer.py
Labels: Instruments, Documentation, On-going, NanoVNA

#937 Fix true-false-comparison errors.
  skrf/io/general.py
  skrf/network.py
  skrf/util.py
Labels: fix, Network, IO

#938 fix switch term termination function
  skrf/calibration/calibration.py
Labels: fix, Calibration

#933 Supports the creation of capacitors and inductors with Q factor.
  skrf/media/media.py
  skrf/media/tests/ads/capacitor_q.s2p
  skrf/media/tests/ads/inductor_q.s2p
  skrf/media/tests/test_all_construction.py
  skrf/media/tests/test_media.py
Labels: New Feature, Media

#936 Updating documentations
  .github/workflows/urlchecker.yml
  README.md
  doc/source/api/media/index.rst~
  doc/source/api/media/media.rst~
  doc/source/contributing/index.rst
  doc/source/examples/networktheory/Properties of Rectangular Waveguides.ipynb
  examples/basic_touchstone_plotting/README.txt
  examples/basic_touchstone_plotting/horn antenna.s1p
  examples/basic_touchstone_plotting/plot_horn_mag.py
  examples/basic_touchstone_plotting/plot_horn_phase.py
  examples/basic_touchstone_plotting/plot_horn_smith.py
  examples/basic_touchstone_plotting/plot_ringslot.py
  examples/basic_touchstone_plotting/plot_ringslot_mag.py
  examples/basic_touchstone_plotting/plot_ringslot_phase.py
  examples/basic_touchstone_plotting/plot_ringslot_simulated_mag.py
  examples/basic_touchstone_plotting/plot_ringslot_simulated_vs_measured.py
  examples/basic_touchstone_plotting/plot_ringslot_smith.py
  examples/basic_touchstone_plotting/ring slot array measured.s1p
  examples/basic_touchstone_plotting/ring slot array simulation.s2p
  examples/oneport_calibration_example/README.txt
  examples/oneport_calibration_example/cal.py
  examples/oneport_calibration_example/dut/radiating open.s1p
  examples/oneport_calibration_example/ideals/delay short 132um.s1p
  examples/oneport_calibration_example/ideals/delay short 85um.s1p
  examples/oneport_calibration_example/ideals/load.s1p
  examples/oneport_calibration_example/ideals/short.s1p
  examples/oneport_calibration_example/measured/delay short 132um.s1p
  examples/oneport_calibration_example/measured/delay short 85um.s1p
  examples/oneport_calibration_example/measured/load.s1p
  examples/oneport_calibration_example/measured/short.s1p
  examples/oneport_calibration_example/simulation/radiating open.s1p
Labels: Documentation, Continuous integration
