Repository scikit-rf/scikit-rf, pull requests merged in 2023-02, with the labels that each got.

#835 Fix inductor units in media docstrings
  skrf/media/media.py
Labels: Documentation, Media

#829 Add name argument to two_port_reflect
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#838 Fix shade_bands overwriting y_range (#742)
  skrf/plotting.py
Labels: Plotting

#837 Dynamically load version from __init__.py
  pyproject.toml
Labels: Continuous integration

#828 Improve performance of Network.copy
  skrf/network.py
Labels: Network

#843 Fix NetworkSet division
  skrf/networkSet.py
Labels: NetworkSet

#844 Add test for input networks of OnePort calibration
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Calibration

#845 Vector Fitting: Custom pole initialization
  skrf/vectorFitting.py
Labels: VectorFitting

#834 Overlap dut and dummy networks in deembedding
  skrf/calibration/deembedding.py
  skrf/calibration/tests/test_deembedding.py
  skrf/network.py
Labels: Network, Calibration
