Repository scikit-rf/scikit-rf, pull requests merged in 2023-09, with the labels that each got.

#945 export unscaled frequency to dataframe
  skrf/io/general.py
Labels: IO

#944 Add classifiers for pypi
  pyproject.toml
Labels: Documentation, Continuous integration and Code Quality

#935 Using SI Units
  skrf/frequency.py
  skrf/time.py
Labels: Feature Request, Improvements, Time

#943 Stability circles
  skrf/network.py
  skrf/tests/load_stability_circle_ads.csv
  skrf/tests/source_stability_circle_ads.csv
  skrf/tests/test_network.py
Labels: New Feature, Network

#955 Fix network_2_dataframe for more than 10 ports
  skrf/io/general.py
  skrf/io/tests/test_io.py
  skrf/network.py
Labels: Network, IO

#956 Check python 3.12 compability
  .github/workflows/testing.yml
  tox.ini
Labels: Continuous integration

#959 Fix plotting notebook for matplotlib 3.8
  doc/source/tutorials/Plotting.ipynb
Labels: Documentation

#954 Fix VI documntation issue
  doc/source/examples/instrumentcontrol/VNA Control.ipynb
Labels: Documentation

#958 Add timeout argument to VNA constructor
  skrf/vi/vna/vna.py
Labels: Instruments

#957 Avoid running constructor multiple times when import skrf
  skrf/__init__.py
  skrf/data/__init__.py
  skrf/instances.py
  skrf/tests/test_static_data.py
Labels: Improvements

#961 Use correct x-axis for time_mag and time_db plots
  skrf/network.py
Labels: Network

#962 Fix #951
  skrf/time.py
Labels: Time
