Repository scikit-rf/scikit-rf, pull requests merged in 2023-04, with the labels that each got.

#869 Fix reading/writing HFSS Touchstone files using the 'power' S-param definition
  skrf/constants.py
  skrf/network.py
  skrf/tests/hfss_oneport_powerwave.s1p
  skrf/tests/test_network.py
Labels: fix, Network, Touchstone, HFSS

#810 Do not generate subnetworks all the time but provide them dynamically
  skrf/calibration/calibrationSet.py
  skrf/io/general.py
  skrf/network.py
  skrf/networkSet.py
  skrf/tests/test_network.py
Labels: Network, IO, Calibration

#863 [pre-commit] pre-commit configuration
  .pre-commit-config.yaml
Labels: Community, Improvements

#871 improve performance of Coaxial.from_attenuation
  skrf/media/coaxial.py
  skrf/media/tests/test_coaxial.py
Labels: Media

#873 [pre commit] configuration: end lines and trailing whitespaces
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general-issue-.md
  .pre-commit-config.yaml
  doc/source/contributing/index.rst
  skrf/mathFunctions.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Community, Documentation, Network, Continuous integration and Code Quality, Continuous integration

#872 Version 0.26.0
  conda.recipe/meta.yaml
  skrf/__init__.py
Labels: Version

#876 just fixing a small typo I spotted :-)
  doc/source/tutorials/Networks.ipynb
Labels: Documentation

#881 URL updated.
  skrf/io/metas.py
Labels: Documentation, IO

#882 Vectorize drop_non_monotonic_increasing
  skrf/frequency.py
  skrf/plotting.py
Labels: Plotting

#885 Fix incorrect z0 handling in SeriesImpedance and ShuntAdmittance
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: fix, Circuit

#887 Make Network.copy also copy params dict
  skrf/network.py
Labels: Network

#893 disable upper limits
  pyproject.toml
Labels: Continuous integration and Code Quality

#888 Prepare media tutorial for characteristic impedance implementation change
  doc/source/skrf_Media_exemples.svg
  doc/source/tutorials/Media.ipynb
  doc/source/tutorials/figures/media_mline.svg
  doc/source/tutorials/figures/media_mline_measurement.svg
  doc/source/tutorials/figures/media_rectangularwaveguide.svg
  doc/source/tutorials/figures/media_simulation.svg
  doc/source/tutorials/figures/media_waveguide_measurement.svg
Labels: Documentation

#895 Allow NISTMultilineTRL to work with non-exact floats
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
  skrf/network.py
Labels: Network, Calibration

#896 Handle non-zero length thru in TRL
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Calibration

#870 Resolve singularities for matched thru and line in determine_reflect
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Calibration

#897 Fix doc links from Circuit tutorial to Circuit convenience methods
  doc/source/tutorials/Circuit.ipynb
Labels: Documentation

#898 Create dependabot.yml
  .github/dependabot.yml
Labels: Continuous integration
