Repository scikit-rf/scikit-rf, pull requests merged in 2023-01, with the labels that each got.

#820 Fix Python 3.7 flake8
  .github/workflows/testing.yml
  .github/workflows/testing_notebooks.yml
  pyproject.toml
Labels: Continuous integration

#818 Multi-port calibration
  doc/source/examples/metrology/Multi-port Calibration.ipynb
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Documentation, Network, Calibration

#822 Fix get_sparameter_names order for two-port
  skrf/io/tests/test_touchstone.py
  skrf/io/touchstone.py
Labels: IO, Touchstone

#826 Adding parameter `draw_labels` to `plot_smith()`.
  skrf/plotting.py
Labels: Improvements, Plotting

#827 Improve error message in NIST TRL calibration
  skrf/calibration/calibration.py
Labels: Calibration
