Repository scikit-rf/scikit-rf, pull requests merged in 2024-01, with the labels that each got.

#991 Allow printing of Networks with empty frequency range
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#996 Vector Fitting: Removing deprecated `zeros` attribute
  skrf/vectorFitting.py
Labels: VectorFitting

#1006 Fixing CI tests
  pyproject.toml
  skrf/taper.py
Labels: Continuous integration

#993 Start touchstone 2 support
  skrf/io/tests/ansys_modal_data.s2p
  skrf/io/tests/ansys_terminal_data.s4p
  skrf/io/tests/double_option_line.s2p
  skrf/io/tests/test_touchstone.py
  skrf/io/tests/test_ts_spec.py
  skrf/io/tests/ts/ansys.ts
  skrf/io/tests/ts/ex_16.ts
  skrf/io/tests/ts/ex_17.ts
  skrf/io/tests/ts/ex_18.s2p
  skrf/io/tests/ts/ex_5.ts
  skrf/io/tests/ts/ex_6.ts
  skrf/io/touchstone.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network, IO

#998 Add gain circle
  skrf/network.py
  skrf/tests/load_gain_circle_ads.csv
  skrf/tests/source_gain_circle_ads.csv
  skrf/tests/test_network.py
Labels: Network

#1004 Vector Fitting: Support for large number of parameters
  skrf/vectorFitting.py
Labels: fix, VectorFitting

#1008 Set default f_unit to Hz
  doc/source/conf.py
  skrf/io/general.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Documentation, Network, IO

#1007 v0.31.0
  conda.recipe/meta.yaml
  skrf/__init__.py
Labels: Version

#1009 Finalize ts2 support
  skrf/io/tests/test_ts_spec.py
  skrf/io/tests/ts/ex_1.ts
  skrf/io/tests/ts/ex_10.ts
  skrf/io/tests/ts/ex_11.s2p
  skrf/io/tests/ts/ex_12.ts
  skrf/io/tests/ts/ex_12_g.ts
  skrf/io/tests/ts/ex_13.s2p
  skrf/io/tests/ts/ex_14.s4p
  skrf/io/tests/ts/ex_2.ts
  skrf/io/tests/ts/ex_3.ts
  skrf/io/tests/ts/ex_4.ts
  skrf/io/tests/ts/ex_7.ts
  skrf/io/tests/ts/ex_8.s1p
  skrf/io/tests/ts/ex_9.s1p
  skrf/io/touchstone.py
  skrf/network.py
Labels: Network, IO

#1016 Dev/GitHub actions bump versions
  .github/workflows/PR_labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/testing.yml
  .github/workflows/testing_notebooks.yml
  .github/workflows/urlchecker.yml
Labels: Continuous integration

#1013 Optimize `Circuit` `C` function
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Improvements, Circuit
