Repository scikit-rf/scikit-rf, pull requests merged in 2024-09, with the labels that each got.

#1168 Optimize the performance of Network connect method
  skrf/frequency.py
  skrf/network.py
Labels: Network

#1171 Remove nbval from testing requirements
  .github/workflows/testing.yml
  .github/workflows/testing_notebooks.yml
  .gitignore
  .readthedocs.yml
  doc/source/contributing/index.rst
  pyproject.toml
  skrf/vi/vna/keysight/tests/test_fieldfox.py
  tox.ini
Labels: Documentation, ContinuousIntegration

#1175 Allow ynp, znp and friends as file extension.
  doc/source/contributing/index.rst
  skrf/io/touchstone.py
  skrf/tests/test_network.py
Labels: Documentation, IO

#1179 Use module-level logger in vectorFitting.py
  skrf/vectorFitting.py
Labels: VectorFitting
