Repository scikit-rf/scikit-rf, pull requests merged in 2024-03, with the labels that each got.

#1032 v0.32.0
  conda.recipe/meta.yaml
  skrf/__init__.py
Labels: Version

#1042 Fix 10ports
  skrf/calibration/calibration.py
  skrf/io/general.py
  skrf/network.py
  skrf/networkSet.py
  skrf/plotting.py
  skrf/tests/test_network2.py
  skrf/tests/test_plotting.py
  skrf/vectorFitting.py
Labels: Network, VectorFitting, Plotting, IO, Calibration

#1041 Advanced Smith Chart examples with markers or background
  doc/source/tutorials/Plotting.ipynb
  doc/source/tutorials/figures/smithchart.png
Labels: Documentation, Plotting

#1044 Run CI against nightly as well
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  .github/workflows/testing_notebooks.yml
  .gitignore
  skrf/mathFunctions.py
  skrf/vectorFitting.py
  skrf_qtapps/skrf_qtwidgets/networkPlotWidget.py
  tox.ini
Labels: VectorFitting, ContinuousIntegration

#1040 Updated 8510 class with bugfixes and compound sweep support
  doc/source/tutorials/Calibration.ipynb
  skrf/vi/vna/__init__.py
  skrf/vi/vna/hp/__init__.py
  skrf/vi/vna/hp/hp8510c.py
  skrf/vi/vna/hp/hp8510c_sweep_plan.py
  skrf/vi/vna/hp/tests/test_8510c.py
  skrf/vi/vna/hp/tests/test_8510c_sweep_plan.py
  skrf/vi/vna/hp8510c_sweep_plan.py
  skrf/vi/vna/keysight/pna.py
  skrf/vi/vna/nanovna/nanovna.py
Labels: Instruments, Documentation
