Repository scikit-rf/scikit-rf, pull requests merged in 2024-06, with the labels that each got.

#1073 Add valid case to convert_8term_2_12term function where switch_terms …
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Calibration

#1082 Add Noise Figure Circles
  skrf/network.py
  skrf/tests/nf_circle_mwo.csv
  skrf/tests/test_network.py
Labels: New Feature, Network

#1089 Reorder port names
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1084 Fix plot_minmax_bounds_component docs
  skrf/networkSet.py
  skrf/plotting.py
Labels: Plotting

#1085 Fixed the issue that the Network copy method lost some attributes.
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1092 Fix #1087
  skrf/io/tests/ntwk_zip.zip
  skrf/io/tests/test_touchstone.py
  skrf/io/touchstone.py
Labels: IO

#1094 Optimize the performance of innerconnect_s method.
  skrf/network.py
Labels: Network

#1080 Optimize the performance of the reduce_circuit function in specific situations
  doc/source/tutorials/Circuit.ipynb
  doc/source/tutorials/figures/circuit_filter2.svg
  skrf/circuit.py
Labels: Documentation, Circuit

#1095 Optimize the performance of connect method.
  doc/source/tutorials/Circuit.ipynb
  skrf/network.py
Labels: Documentation, Network

#1096 Optimize the performance of Network copy mehod
  skrf/circuit.py
  skrf/media/media.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network, Media, Circuit

#1083 Add Violin Plots
  doc/source/tutorials/NetworkSet.ipynb
  skrf/networkSet.py
  skrf/plotting.py
  skrf/tests/test_plotting.py
Labels: Documentation, Plotting

#1100 scaled frequency units
  skrf/io/general.py
Labels: IO

#1103 fix shiftNPoints in IEEEP370_SE_ZC_2xThru
  skrf/calibration/deembedding.py
Labels: Calibration

#1108 fix frequency for npoints=1
  skrf/frequency.py
  skrf/vectorFitting.py
Labels: VectorFitting

#1104 Add MDIF functionality for improved interaction with ADS
  skrf/io/mdif.py
  skrf/network.py
  skrf/networkSet.py
  skrf/tests/test_networkSet.py
Labels: Network, IO

#1102 Drop python 3.7 to use literals and walrusses :)
  .github/workflows/testing.yml
  conda.recipe/meta.yaml
  doc/source/index.rst
  pyproject.toml
  tox.ini
Labels: Documentation, ContinuousIntegration
