Repository scikit-rf/scikit-rf, pull requests merged in 2024-05, with the labels that each got.

#1064 run permissions
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  .gitignore
  doc/gh-pages.py
  skrf/calibration/calibration.py
  skrf/frequency.py
  skrf/io/csv.py
  skrf/io/general.py
  skrf/media/circularWaveguide.py
  skrf/media/media.py
  skrf/network.py
  skrf/networkSet.py
  skrf/vi/vna/keysight/pna.py
  skrf/vi/vna/vna.py
  tox.ini
Labels: Documentation, Network, IO, Media, Calibration, ContinuousIntegration

#1066 Test allclose instead of equality
  skrf/calibration/tests/test_calibration.py
Labels: Calibration

#1061 Change all occurences of npy to np
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
  skrf/constants.py
  skrf/frequency.py
  skrf/io/csv.py
  skrf/io/general.py
  skrf/io/tests/test_csv.py
  skrf/io/tests/test_io.py
  skrf/io/tests/test_touchstone.py
  skrf/io/touchstone.py
  skrf/mathFunctions.py
  skrf/media/circularWaveguide.py
  skrf/media/cpw.py
  skrf/media/definedAEpTandZ0.py
  skrf/media/device.py
  skrf/media/distributedCircuit.py
  skrf/media/freespace.py
  skrf/media/media.py
  skrf/media/mline.py
  skrf/media/rectangularWaveguide.py
  skrf/media/tests/test_coaxial.py
  skrf/media/tests/test_cpw.py
  skrf/media/tests/test_media.py
  skrf/media/tests/test_mline.py
  skrf/network.py
  skrf/networkSet.py
  skrf/plotting.py
  skrf/tests/test_convenience.py
  skrf/tests/test_frequency.py
  skrf/tests/test_mathFunctions.py
  skrf/time.py
  skrf/tlineFunctions.py
  skrf/util.py
Labels: Network, Plotting, IO, Media, Calibration, Time, TransmissionLines

#1070 Speed up Circuit.s_external property(method) by using block matrix ca…
  skrf/circuit.py
Labels: Circuit
