Repository scikit-rf/scikit-rf, pull requests merged in 2024-11, with the labels that each got.

#1192 Add shallow_copy parameter to Network.copy() method
  skrf/network.py
Labels: Network

#1181 Add line_floating method to Media
  doc/source/contributing/index.rst
  skrf/media/media.py
  skrf/media/tests/test_all_construction.py
  skrf/media/tests/test_media.py
Labels: Documentation, New Feature, Media

#1190 Version 1.4.0
  conda.recipe/meta.yaml
  skrf/__init__.py
Labels: Version

#1195 Pass kind to interpolate method (again)
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1200 Use trapezoid rule from scipy
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: VectorFitting

#1202 Use RLGC distortion model and nominal impedance in DefinedAEpTandZ0 media
  skrf/media/definedAEpTandZ0.py
  skrf/media/tests/awr/tlinp.s2p
  skrf/media/tests/test_definedaeptandz0.py
Labels: Media

#1201 Modify the input arguments order in plot_s_db_time method.
  skrf/network.py
  skrf/tests/test_plotting.py
Labels: Network

#1203 definedAEpTandZ0 keep z0 parameter as raw characteristic impedance if array-llike
  skrf/media/definedAEpTandZ0.py
  skrf/media/tests/test_definedaeptandz0.py
Labels: Media

#1207 line_floating S-parameter definition
  skrf/media/media.py
  skrf/media/tests/test_media.py
Labels: Media

#1208 Fix uninitialized memory use in touchstone parser
  skrf/io/touchstone.py
Labels: IO

#1206 Use s-parameter to build lumped components.
  skrf/media/media.py
  skrf/media/tests/test_media.py
Labels: Media

#1212 Allow pass network name as kwarg for streams
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1193 Fix the issue in parse csv frequency.
  skrf/constants.py
  skrf/io/csv.py
  skrf/io/tests/test_csv.py
Labels: IO
