Repository scikit-rf/scikit-rf, pull requests merged in 2024-02, with the labels that each got.

#1021 Fix CI Tests
  .github/workflows/testing_notebooks.yml
  pyproject.toml
  skrf/media/mline.py
Labels: Media, ContinuousIntegration

#1023 Ruff rules for numpy
  .pre-commit-config.yaml
  pyproject.toml
  skrf/calibration/tests/test_calibration.py
  skrf/io/tests/test_io.py
  skrf/mathFunctions.py
  skrf/media/tests/test_coaxial.py
  skrf/networkSet.py
  skrf/tests/test_circuit.py
  skrf/tests/test_network.py
  skrf/tests/test_networkSet.py
  skrf/tests/test_tlineFunctions.py
Labels: IO, Media, Calibration

#1024 Enable B check in ruff
  pyproject.toml
  skrf/calibration/calibration.py
  skrf/calibration/calibrationSet.py
  skrf/calibration/deembedding.py
  skrf/circuit.py
  skrf/constants.py
  skrf/frequency.py
  skrf/io/citi.py
  skrf/io/csv.py
  skrf/io/general.py
  skrf/io/mdif.py
  skrf/io/touchstone.py
  skrf/media/cpw.py
  skrf/media/device.py
  skrf/media/distributedCircuit.py
  skrf/media/freespace.py
  skrf/media/media.py
  skrf/media/mline.py
  skrf/network.py
  skrf/network2.py
  skrf/networkSet.py
  skrf/plotting.py
  skrf/qfactor.py
  skrf/taper.py
  skrf/tests/test_network.py
  skrf/time.py
  skrf/util.py
  skrf/vi/validators.py
  skrf/vi/vna/hp8510c_sweep_plan.py
  skrf/vi/vna/keysight/fieldfox.py
  skrf/vi/vna/vna.py
  skrf_qtapps/skrf_qtwidgets/analyzers/driver_development/analyzer_dummy.py
  skrf_qtapps/skrf_qtwidgets/numeric_inputs.py
  skrf_qtapps/skrf_qtwidgets/widgets.py
Labels: Network, Plotting, IO, Media, Calibration, Circuit, Time

#1028 fix n-port mismatch junction issue in Circuit
  skrf/circuit.py
  skrf/media/media.py
  skrf/media/tests/test_media.py
  skrf/tests/test_circuit.py
Labels: fix, Media, Circuit

#1029 Update ruff to detect np.random.random calls
  .pre-commit-config.yaml
  skrf/circuit.py
  skrf/media/media.py
  skrf/media/tests/test_media.py
  skrf/tests/test_mathFunctions.py
Labels: Media, Circuit

#1030 Remove some unused code
  pyproject.toml
  skrf/calibration/calibration.py
  skrf/calibration/deembedding.py
  skrf/calibration/tests/test_calibration.py
  skrf/io/csv.py
  skrf/io/general.py
  skrf/io/mdif.py
  skrf/network.py
  skrf/network2.py
  skrf/networkSet.py
  skrf/programs/plot_touchstone.py
  skrf/qfactor.py
  skrf/tests/test_qfactor.py
  skrf/tests/test_tlineFunctions.py
  skrf/vectorFitting.py
  skrf_qtapps/skrf_qtwidgets/analyzers/__init__.py
  skrf_qtapps/skrf_qtwidgets/calibration_widgets.py
  skrf_qtapps/skrf_qtwidgets/numeric_inputs.py
Labels: Network, VectorFitting, IO, Calibration

#1033 Automatic vector fitting using pole adding and skimming algorithm
  doc/source/examples/vectorfitting/vectorfitting_ex2_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex3_Agilent_E5071B.ipynb
  doc/source/examples/vectorfitting/vectorfitting_problems.ipynb
  skrf/vectorFitting.py
Labels: Documentation, New Feature, VectorFitting
