Repository scikit-rf/scikit-rf, pull requests merged in 2024-10, with the labels that each got.

#1183 fix possible division by zero in quadratic formula in TUGMultilineTRL
  skrf/calibration/calibration.py
Labels: Calibration

#1186 Fix Djordjevic-Svensson dispersion lead to negative tanD in DefinedAEpTandZ0
  skrf/media/definedAEpTandZ0.py
Labels: Media

#1170 Optimize the performance of Circuit s_external mehod
  skrf/circuit.py
  skrf/constants.py
  skrf/tests/test_circuit.py
Labels: Circuit

#1187 Improve tutorial for virtual instruments
  doc/source/tutorials/VirtualInstruments.ipynb
  pyproject.toml
  skrf/network.py
  skrf/plotting.py
Labels: Documentation, Network, Plotting

#1189 Add Python 3.13 to the test scheme
  .github/workflows/testing.yml
  pyproject.toml
Labels: ContinuousIntegration

#1166 A generalized/abstract Network connection method
  doc/source/tutorials/Connecting_Networks.ipynb
  doc/source/tutorials/figures/networks_innerconnect_2_port.svg
  doc/source/tutorials/figures/t_type_filter.png
  skrf/network.py
  skrf/tests/test_network.py
Labels: Documentation, New Feature, Network
