Repository scikit-rf/scikit-rf, pull requests merged in 2024-07, with the labels that each got.

#1101 Optimize the performance of Circuit s_external mehod
  skrf/circuit.py
Labels: Circuit

#1113 Optimize Circuit Class Performance with Attribute Caching
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Circuit

#1107 Fixed the issue of incorrect voltage results in circuit connections.
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Circuit

#1120 Fix the network.concat_ports() issue.
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1118 Fixed the issue of deteriorating circuit performance with super large-scale networks (like HFSS)
  skrf/circuit.py
Labels: Circuit

#1121 Cal input validation
  skrf/calibration/calibration.py
  skrf/calibration/tests/test_calibration.py
Labels: Calibration

#1117 Adding S-parameter definition in Touchstone V1 comment
  skrf/io/touchstone.py
  skrf/network.py
  skrf/tests/test_network.py
  skrf/tests/tmp_skrf_oneport_powerwave.s1p
Labels: Network, IO

#1128 fix Network.connect the ports when connecting two 2-ports
  skrf/calibration/calibration.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network, Calibration

#1124 Use port z0 for plot_z_time_step, plot_z_time_impulse, restore missing ylabel and add modes subscript to plot trace names for mixed-modes networks
  doc/source/examples/mixedmodeanalysis/Mixed Mode Basics.ipynb
  doc/source/examples/networktheory/CPW media example.ipynb
  doc/source/examples/networktheory/Correlating microstripline model to measurement.ipynb
  doc/source/examples/networktheory/DC Extrapolation for Time Domain .ipynb
  doc/source/examples/networktheory/DefinedAEpTandZ0 media example.ipynb
  doc/source/examples/networktheory/Time domain reflectometry, measurement vs simulation.ipynb
  skrf/calibration/calibration.py
  skrf/circuit.py
  skrf/network.py
  skrf/tests/test_network.py
  skrf/tests/test_plotting.py
Labels: Documentation, Network, Calibration, Circuit

#1130 Optimize the performance of loading TouchStone files.
  skrf/io/touchstone.py
Labels: IO

#1122 Optimize interpolation performance by pre-cropping data.
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1126 Optimize Circuit Reduction Order and Increase Cycle Priority in Circuit Reduction
  skrf/circuit.py
Labels: Circuit

#1114 Enhance IEEEP370 deembedding documentation, plots, code readability and verbose output
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_MM_NZC_diff_fdf.s4p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_MM_NZC_diff_fdf_with_connectors.s4p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_MM_ZC_diff_fdf.s4p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_MM_ZC_diff_fdf_with_connectors.s4p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_SE_NZC_se_fdf.s2p
  doc/source/examples/networktheory/ieeep370deembedding/deembedded_SE_ZC_se_fdf.s2p
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru.dat
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru.dpl
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru.s4p
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru.sch
  doc/source/examples/networktheory/ieeep370deembedding/diff_2xthru_with_connectors.s4p
  doc/source/examples/networktheory/ieeep370deembedding/diff_dut.dat
  doc/source/examples/networktheory/ieeep370deembedding/diff_dut.s4p
  doc/source/examples/networktheory/ieeep370deembedding/diff_dut.sch
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.dat
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.png
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.s4p
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf.sch
  doc/source/examples/networktheory/ieeep370deembedding/diff_fdf_with_connectors.s4p
  doc/source/examples/networktheory/ieeep370deembedding/se_2xthru.s2p
  doc/source/examples/networktheory/ieeep370deembedding/se_fdf.s2p
  skrf/calibration/deembedding.py
  skrf/util.py
Labels: Documentation, Calibration

#1133 Fixed the Frequency issue when creating a Network using the f_unit and frequency arguments.
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1077 Impulse Response
  skrf/frequency.py
  skrf/network.py
  skrf/tests/metas_tdr/short_10ps_10g_40g.s1p
  skrf/tests/metas_tdr/short_10ps_10g_40g_band_pass_impulse.csv
  skrf/tests/metas_tdr/short_10ps_10g_50g.s1p
  skrf/tests/metas_tdr/short_10ps_10g_50g_band_pass_impulse.csv
  skrf/tests/metas_tdr/short_10ps_dc_40g.s1p
  skrf/tests/metas_tdr/short_10ps_dc_40g_band_pass_impulse.csv
  skrf/tests/metas_tdr/short_10ps_dc_40g_low_pass_impulse.csv
  skrf/tests/metas_tdr/short_10ps_dc_40g_low_pass_step.csv
  skrf/tests/metas_tdr/short_10ps_dc_50g.s1p
  skrf/tests/metas_tdr/short_10ps_dc_50g_band_pass_impulse.csv
  skrf/tests/metas_tdr/short_10ps_dc_50g_low_pass_impulse.csv
  skrf/tests/metas_tdr/short_10ps_dc_50g_low_pass_step.csv
  skrf/tests/test_network.py
Labels: Network

#1135 Pass through kwargs for NetworkSet.write_mdif to use any of the arguments in Network.write_touchstone
  skrf/io/mdif.py
  skrf/networkSet.py
Labels: IO

#1134 Add IEEE 370 Initial quality checking in frequency domain
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  skrf/calibration/deembedding.py
  skrf/calibration/tests/test_deembedding.py
Labels: Documentation, Calibration

#1136 IEEE 370 SE figures
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  doc/source/examples/networktheory/ieeep370deembedding/2x-Thru.svg
  doc/source/examples/networktheory/ieeep370deembedding/FIX-DUT-FIX.svg
Labels: Documentation

#1137 Add pathlib support for file operations
  skrf/io/citi.py
  skrf/io/general.py
  skrf/io/mdif.py
  skrf/io/touchstone.py
  skrf/network.py
  skrf/networkSet.py
  skrf/tests/test_network.py
  skrf/tests/test_networkSet.py
  skrf/util.py
Labels: Network, IO

#1112 Enforce Network.port_names to be list even after renumbering
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1138 Update comment handling for NetworkSets
  skrf/io/mdif.py
  skrf/networkSet.py
  skrf/tests/test_networkSet.py
Labels: IO

#1140 separate IEEE 370 FER and frequency domain quality metrics in their own class
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  skrf/calibration/deembedding.py
  skrf/calibration/tests/test_deembedding.py
Labels: Documentation, Calibration
