Repository scikit-rf/scikit-rf, pull requests merged in 2024-08, with the labels that each got.

#1139 Use the Network provided by media to re-implement the Open and Ground
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Circuit

#1132 v1.2.0
  conda.recipe/meta.yaml
  skrf/__init__.py
Labels: Version

#1149 Fix ts2 loader for upper / lower matrix definitions
  skrf/io/tests/test_ts_spec.py
  skrf/io/tests/ts/ex_5.ts
  skrf/io/tests/ts/ex_6.ts
  skrf/io/touchstone.py
Labels: IO

#1147 Update scikit-rf citations page
  doc/source/citations_ack/acknowledging.rst
  doc/source/citations_ack/citations.rst
  doc/source/citations_ack/index.rst
  doc/source/conf.py
Labels: Documentation

#1152 [docs] correct optional dep for using vi module
  doc/source/tutorials/Installation.ipynb
Labels: Documentation

#1141 IEEE370 application-based quality checking in the time domain
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  skrf/calibration/deembedding.py
  skrf/calibration/tests/test_deembedding.py
Labels: Documentation, Calibration

#1142 Literals
  skrf/calibration/calibration.py
  skrf/calibration/deembedding.py
  skrf/constants.py
  skrf/frequency.py
  skrf/io/touchstone.py
  skrf/network.py
  skrf/networkSet.py
  skrf/notebook/bokeh_.py
  skrf/plotting.py
Labels: Network, Plotting, IO, Calibration

#1145 Noise interpolation improvements
  skrf/network.py
  skrf/tests/ntwk_noise_interp.s2p
  skrf/tests/test_network.py
Labels: Network

#1150 Touchstone2 Mixed Mode Data port order fix
  skrf/io/tests/test_ts_spec.py
  skrf/io/touchstone.py
  skrf/network.py
Labels: Network, IO

#1144 Remove the Port Number Limitation for Circuit Current/Voltage Calculations
  doc/source/examples/circuit/Voltages and Currents in Circuits.ipynb
  doc/source/examples/circuit/Wilkinson Power Splitter.ipynb
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Documentation, Circuit

#1156 Use ruff to format notebooks
  doc/source/examples/circuit/Lumped Element Circuits.ipynb
  doc/source/examples/circuit/Voltages and Currents in Circuits.ipynb
  doc/source/examples/circuit/Wilkinson Power Splitter.ipynb
  doc/source/examples/interactive/Interact Transmission Lines.ipynb
  doc/source/examples/interactive/Interactive Coaxial Properties.ipynb
  doc/source/examples/interactive/Interactive Mismatched Line.ipynb
  doc/source/examples/matching/Impedance Matching.ipynb
  doc/source/examples/metrology/Calibration With Three Receivers.ipynb
  doc/source/examples/metrology/LRRM.ipynb
  doc/source/examples/metrology/Measuring a Mutiport Device with a 2-Port Network Analyzer.ipynb
  doc/source/examples/metrology/Multi-port Calibration.ipynb
  doc/source/examples/metrology/Multiline TRL.ipynb
  doc/source/examples/metrology/NanoVNA_V2_4port-splitter.ipynb
  doc/source/examples/metrology/One Port Tiered Calibration.ipynb
  doc/source/examples/metrology/SOLT Calibration Standards Creation.ipynb
  doc/source/examples/metrology/SOLT.ipynb
  doc/source/examples/metrology/TRL.ipynb
  doc/source/examples/metrology/TwoPortOnePath, EnhancedResponse, and FakeFlip.ipynb
  doc/source/examples/mixedmodeanalysis/Mixed Mode Basics.ipynb
  doc/source/examples/mixedmodeanalysis/Mixed Mode S and Impedance Transformation.ipynb
  doc/source/examples/networksets/Export Network Set as MDIF File.ipynb
  doc/source/examples/networksets/Interpolating Network Sets.ipynb
  doc/source/examples/networksets/Sorting Network Sets.ipynb
  doc/source/examples/networktheory/Balanced Network De-embedding.ipynb
  doc/source/examples/networktheory/CPW media example.ipynb
  doc/source/examples/networktheory/Correlating microstripline model to measurement.ipynb
  doc/source/examples/networktheory/DC Extrapolation for Time Domain .ipynb
  doc/source/examples/networktheory/DefinedAEpTandZ0 media example.ipynb
  doc/source/examples/networktheory/IEEEP370 Deembedding.ipynb
  doc/source/examples/networktheory/LNA Example.ipynb
  doc/source/examples/networktheory/Properties of Rectangular Waveguides.ipynb
  doc/source/examples/networktheory/Renormalizing S-parameters.ipynb
  doc/source/examples/networktheory/Time Domain.ipynb
  doc/source/examples/networktheory/Time domain reflectometry, measurement vs simulation.ipynb
  doc/source/examples/networktheory/Transmission Line Losses.ipynb
  doc/source/examples/networktheory/Transmission Line Properties and Manipulations.ipynb
  doc/source/examples/networktheory/Transmission Lines and SWR.ipynb
  doc/source/examples/networktheory/Working with Complex Characteristic Impedances.ipynb
  doc/source/examples/plotting/Modeling RG-58.ipynb
  doc/source/examples/plotting/XKCD styling.ipynb
  doc/source/examples/qfactor/Finding_Dk_Df_from_resonance_fitting.ipynb
  doc/source/examples/taper/tapered_transmission_lines.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex1_ringslot.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex2_190ghz_active.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex3_Agilent_E5071B.ipynb
  doc/source/examples/vectorfitting/vectorfitting_ex4_passivity.ipynb
  doc/source/examples/vectorfitting/vectorfitting_problems.ipynb
  doc/source/tutorials/Circuit.ipynb
  doc/source/tutorials/Deembedding.ipynb
  doc/source/tutorials/Introduction.ipynb
  doc/source/tutorials/Media.ipynb
  doc/source/tutorials/NetworkSet.ipynb
  doc/source/tutorials/Networks.ipynb
  doc/source/tutorials/Plotting.ipynb
  doc/source/tutorials/Q-Factor.ipynb
  doc/source/tutorials/data/ro,1.s1p
  doc/source/tutorials/data/ro,2.s1p
  doc/source/tutorials/data/ro,3.s1p
Labels: Documentation

#1143 Update MDIF import comment handling & add formatting for NF data in Network.write_touchstone
  doc/source/examples/networks/Export Network as Touchstone File.ipynb
  skrf/io/mdif.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Documentation, Network, IO

#1153 Support passing parameters to the reduce_circuit method in the Circuit constructor
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Circuit

#1161 Add a comment to the circuit's default behavior.
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Circuit

#1163 Spice test
  pyproject.toml
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
  tox.ini
Labels: VectorFitting

#1162 Fixed the issue where the Network connect() method inherited properties that should be discarded
  skrf/constants.py
  skrf/network.py
  skrf/tests/test_network.py
Labels: Network

#1160 Optimize Circuit Performance with Dynamic Network Handling and Selective Reductions
  doc/source/tutorials/Circuit.ipynb
  skrf/circuit.py
  skrf/tests/test_circuit.py
Labels: Documentation, Circuit

#1165 version 1.3.0
  conda.recipe/meta.yaml
  skrf/__init__.py
Labels: Version

#1167 Add Circuit.update_networks() to API page.
  skrf/circuit.py
Labels: Documentation, Circuit
