Repository scikit-rf/scikit-rf, pull requests merged in 2025-04, with the labels that each got.

#1081 HP8720B driver
  skrf/calibration/tests/test_deembedding.py
  skrf/vi/vna/__init__.py
  skrf/vi/vna/hp/__init__.py
  skrf/vi/vna/hp/hp8720b.py
  skrf/vi/vna/keysight/fieldfox.py
Labels: Calibration

#1270 fix linting
  skrf/calibration/tests/test_deembedding.py
Labels: fix, Calibration, Continuous integration

#1272 Update reference to nfmin in nf_circle 'see also' section
  skrf/network.py
Labels: Network

#1278 Fix time_gate documentation
  skrf/time.py
Labels: Time

#1276 Plot leadin in IEEE370 ZC verbose mode
  skrf/calibration/deembedding.py
Labels: Calibration

#1277 Fix rare ValueError in NISTMultilineTRL
  skrf/calibration/calibration.py
Labels: Calibration
