Repository scikit-rf/scikit-rf, pull requests merged in 2025-03, with the labels that each got.

#1261 Computer Error between S-Parameter Matrices
  doc/source/examples/networks/Compute Error Between S Parameter Matrices.ipynb
  doc/source/examples/networks/LFCN-2352+_S2P.zip
  skrf/constants.py
  skrf/network.py
  skrf/tests/LFCN-2352+_Plus125degC.s2p
  skrf/tests/LFCN-2352+_Plus25degC.s2p
  skrf/tests/smodel export from mwo.txt
  skrf/tests/test_network.py
Labels: Documentation, Network

#1263 Added Simple Transformer Examples
  doc/source/examples/networktheory/Balun_Transformer_Designs.ipynb
  doc/source/examples/networktheory/Balun_Transformer_Designs/Annotated_Marchand.png
  doc/source/examples/networktheory/Balun_Transformer_Designs/Guanella_transformer_1.png
  doc/source/examples/networktheory/Balun_Transformer_Designs/Ideal_4port_xformer_hi_res.s4p
  doc/source/examples/networktheory/Balun_Transformer_Designs/Marchand_Balun.png
  doc/source/examples/networktheory/Balun_Transformer_Designs/Nodal_Connections_Simple_Balun.png
  doc/source/examples/networktheory/Balun_Transformer_Designs/Simple_Balun2.png
Labels: Documentation

#1269 Adding offline formats to the documentation
  .readthedocs.yml
  doc/source/citations_ack/citations.rst
  doc/source/conf.py
Labels: Feature Request, Documentation
