Repository scikit-rf/scikit-rf, pull requests merged in 2025-01, with the labels that each got.

#1220 Fix the issue of the 'Network.inv' due to mismatched port impedance.
  skrf/network.py
  skrf/tests/test_network.py
Labels: fix, Network

#1223 Add a singular s-matrix processing logic
  skrf/circuit.py
  skrf/network.py
  skrf/tests/test_circuit.py
  skrf/tests/test_network.py
Labels: fix, Network, Circuit

#1228 VectorFitting: New SPICE netlist topology
  skrf/tests/test_vectorfitting.py
  skrf/vectorFitting.py
Labels: VectorFitting

#1219 extrapolate_to_dc: prevent phase aliasing between DC and first non-interpolated point
  skrf/network.py
Labels: Improvements, fix, Network

#1227 Attempt to provide the power wave definition for the splitter.
  skrf/media/media.py
  skrf/media/tests/test_media.py
  skrf/tests/test_circuit.py
Labels: Media

#1235 Optimize the circuit algorithm
  skrf/circuit.py
Labels: Circuit
